@charset "utf-8";
/* CSS Document */

html {
  box-sizing: border-box;
  margin:0;
  padding:0;
  height:100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
	color: #666;
	font-family: "Titillium", Candara, Arial, sans-serif;
	font-size: 15px;
	text-decoratin: none;
}
subsect {
	color: #666;
	font-family: "Titillium", Candara, Arial, sans-serif;
	font-size: 14px;
	font-style:normal;
	text-decoration: none;
	}
fadetext {
	color: #333;
	font-family: "Titillium", Candara, Arial, sans-serif;
	font-size: 10px;
}
body {
	color: #666;
	font-family: "Titillium", Candara, Arial, sans-serif;
	font-size: 14px;
	background-color: #ffffff;
	background-image:url(../img/website_BG.jpg);
	background-repeat:no-repeat;
  margin: 0;
  padding: 0;
  height:100%;
}

a {
	font-size: 14px;
	color: #777777;

}
a:link {
	text-decoration: none;
	color: #777777;
	filter:alpha(opacity=100);
	-moz-opacity:1.00;
	opacity:1.00;
}
a:visited {
	text-decoration: none;
	color: #777777;
	filter:alpha(opacity=100);
	-moz-opacity:1.00;
	opacity:1.00;

}
a:hover {
	text-decoration: none;
	color: #999999;
	filter:alpha(opacity=100);
	-moz-opacity:1.00;
	opacity:1.00;

}
a:active {
	text-decoration: none;
	color: #777777;
	filter:alpha(opacity=100);
	-moz-opacity:1.00;
	opacity:1.00;

}

img {
	border: 2px;
	border-color: #001021;
} 


#wrapper { 
	position: relative;
  min-height: 100%;
}

#header {
	text-align: right;
	font-weight: bold;
  padding-top: 2em;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 1.2em;
}

nav {
  padding-top: 0.3em;
}

#content {
  padding-bottom: 70px;
}


#footer {
	position: absolute;
  text-align: center;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
}

.emphasis {
	color: #8175A1;
	font-size: 16px;
}

.gallery {
	overflow: hidden;
}

.cell {
	float: left;
	position: relative;
}

.thumbnail {
	overflow: hidden;
	position: absolute;
  border: 1px solid #362944;
	left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
}

.thumbnail img {
   width: 100%;
}




/* Responsive */

/* Smartphone: 1 */
@media only screen and (max-width : 480px) {

   .cell {
      width: 100%;
      padding-bottom: 100%;
   }

    .gallery {
   		margin: auto;
		  width: 50%;
   	}

   	#header {
   		left: 43%;
   	}
}

/* Tablets:; 2 */
@media only screen and (min-width : 481px) and (max-width : 767px) {
   	.cell {
	    width: 50%;
	    padding-bottom: 50%;
   }

    .gallery {
   		margin: auto;
		  width: 60%;
   	}

   	#header {
   		left: 53%;
   	}
}

/* iPads: 3  */
@media only screen and (min-width: 768px) and (max-width: 1024px)  {
   	.cell {
      width: 33.3%;
      padding-bottom: 33.3%;
    }

    .gallery {
   		margin: auto;
		  width: 60%;
   	}

   	#header {
   		left: 53%;
   	}
}

/* Desktop - Laptop: 4 */
@media only screen and (min-width : 1025px) and (max-width: 1224px) {
   
   	.cell {
      width: 25%;
      padding-bottom: 25%;
   	}

   	.gallery {
   		margin: auto;
		  width: 60%;
   	}

   	#header {
   		left: 60%;
   	}
}

/* Desktop - Laptop: 4 */
@media only screen and (min-width : 1225px) and (max-width : 1823px) {
   
   	.cell {
      width: 25%;
      padding-bottom: 25%;
   	}

   	.gallery {
   		margin: auto;
		  width: 50%;
   	}

   	#header {
   		left: 60%;
   	}
}

/* Large screens */
@media only screen and (min-width: 1824px) {

    .cell {
      width: 25%;
      padding-bottom: 25%;
   	}

   	.gallery {
   		margin: auto;
		  width: 45%;
   	}

   	#header {
   		left: 63%;
   	}
}
/* Lightbox - http://lokeshdhakar.com */

/* Preload images */
body:after {
  content: url(../img/lightbox/close.png) url(../img/lightbox/loading.gif) url(../img/lightbox/prev.png) url(../img/lightbox/next.png);
  display: none;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/lightbox/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/lightbox/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/lightbox/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/lightbox/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
