{% extends "base.html" %}
{% block content %}
<div class="gallery">
	<div class="cell">
		<div class="thumbnail">
			<a href="../static/img/ui/YanareKu_Scifi_UI.jpg" data-lightbox="portfolio"><img src="../static/img/ui/YanareKu_Scifi_UI_thumb.jpg" target="_blank"></a>
		</div>
	</div>
	<div class="cell">
		<div class="thumbnail">
			<a href="../static/img/ui/YanareKu_Lions_Ui.jpg" data-lightbox="portfolio"><img src="../static/img/ui/YanareKu_Lions_Ui_thumb.jpg" target="_blank"></a>
		 </div>
	</div>
	<div class="cell">
		<div class="thumbnail">
			<a href="../static/img/ui/YanareKu_Ui.jpg" data-lightbox="portfolio" target="_blank"><img src="../static/img/ui/YanareKu_Ui_thumb.jpg"></a>
		</div>
	</div>
	<div class="cell">
	   	<div class="thumbnail">
	      	<a href="../static/img/ui/YanareKu_casual_ui.jpg" data-lightbox="portfolio" target="_blank"><img src="../static/img/ui/YanareKu_casual_ui_thumb.jpg"></a>
	   	</div>
  	</div>

{% endblock %}
