{% extends "base.html" %}
{% block content %}
<div class="gallery">
	<div class="cell">
		<div class="thumbnail">
			<a href="../static/img/vector/sirhal.jpg" data-lightbox="portfolio" data-title="Spellstorm: Sir Halleal" target="_blank"><img src="../static/img/vector/sirhal_thumb.jpg"></a>
		</div>
	</div>
	<div class="cell">
		<div class="thumbnail">
			<a href="../static/img/vector/spellstorm_eraxylon.jpg" data-lightbox="portfolio" data-title="Spellstorm: Eraxylon" target="_blank"><img src="../static/img/vector/spellstorm_eraxylon_thumb.jpg"></a>
		 </div>
	</div>
	<div class="cell">
		<div class="thumbnail">
			<a href="../static/img/vector/spellstorm_cyclops.jpg" data-lightbox="portfolio" data-title="Spellstorm: Cyclops" target="_blank"><img src="../static/img/vector/spellstorm_cyclops_thumb.jpg"></a>
		</div>
	</div>
	<div class="cell">
	   	<div class="thumbnail">
	      	<a href="../static/img/vector/whispered.jpg" data-lightbox="portfolio" data-title="Spellstorm: Whispered" target="_blank"><img src="../static/img/vector/whispered_thumb.jpg"></a>
	   	</div>
  	</div>

{% endblock %}
