<table width="550" height=100% cellspacing=0px cellpadding=10px align=center>
<tr>
<td colspan=4 align="center">|| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><span class="style4">About</span></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ||
</td>
</tr>
<tr>
<td width="186" height="200"><p><img src="img/about1.jpg"><br />
  </p></td>
<td width="322" rowspan=2 VALIGN="TOP"><br />
<b><span class="style5">W</span></b>ith a childhood spent reading every fantasy and sci-fi book within reach and playing every video game I could get a hold of, I've always been drawn to epic scenes of badassery and wonder.  So it didn't come as a big surprise to my family that I wanted to spend the rest of my life painting things like giant, rocket-powered, titanium space dragons shooting lasers from their eyes and miniature space hamsters from their mouths.<br />
<br />
<br />
My resume can be found here:  <a href="YanareKuResume_2015_web.pdf"><strong>Click me!</strong></a></td>
</tr>
<tr>
<td height="202"><img src="img/about2.jpg"></td>
</tr>
</table>