<!-- Will Update All of this HTML to not be gross 90's code later -->
<table width="550" height=100% cellspacing=0px cellpadding=10px align=center>
<tr>
<td colspan=4 align="center">|| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><span class="style4">Contact</span></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ||
</td>
</tr>
<tr>
<td width="186" height="200"><img src="img/contact1.jpg"></td>
<td width="322" rowspan=2 valign="top"><b><span class="style5">H</span>ow To Get A Hold Of Me:</b> <br />
<a href="mailto:lurial@gmail.com"><img src="img/mail.png" /></a>
<br />
<br />
<b><span class="style5">W</span>here Else You Can Find Me:</b> <br />
<a href="http://reallurial.deviantart.com"><img src="img/da.png" /></a><br />
</td>
</tr>
</table>