@charset "utf-8";
/* CSS Document */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
	color: #666;
	font-family: "Titillium", Candara, Arial, sans-serif;
	font-size: 15px;
	text-decoratin: none;
}
subsect {
	color: #666;
	font-family: "Titillium", Candara, Arial, sans-serif;
	font-size: 14px;
	font-style:normal;
	text-decoration: none;
	}
fadetext {
	color: #333;
	font-family: "Titillium", Candara, Arial, sans-serif;
	font-size: 10px;
}
body {
	color: #666;
	font-family: "Titillium", Candara, Arial, sans-serif;
	font-size: 14px;
	background-color: #ffffff;
	background-image:url(../img/website_BG.jpg);
	background-repeat:no-repeat;
    margin: 0;
    padding: 0;
}

a {
	font-size: 14px;
	color: #777777;

}
a:link {
	text-decoration: none;
	color: #777777;
	filter:alpha(opacity=100);
	-moz-opacity:1.00;
	opacity:1.00;
}
a:visited {
	text-decoration: none;
	color: #777777;
	filter:alpha(opacity=100);
	-moz-opacity:1.00;
	opacity:1.00;

}
a:hover {
	text-decoration: none;
	color: #999999;
	filter:alpha(opacity=100);
	-moz-opacity:1.00;
	opacity:1.00;

}
a:active {
	text-decoration: none;
	color: #777777;
	filter:alpha(opacity=100);
	-moz-opacity:1.00;
	opacity:1.00;

}

img {
	border: none; 
} 


#contain { 
	position: relative;
	top: 3em;
}

#header {
	position: absolute;
	text-align: right;
	font-weight: bold;
	margin-right: 2em;
	left: 53%;
}

#footer {
	position: relative;
	text-align: center;
	top: 3em;

}

#nav {
	margin-top: 0.3em;
}

#content {
	position: relative;
	top: 6em;
}

.emphasis {
	color: #8175A1;
	font-size: 16px
}
.gallery {
	overflow: hidden;
}

.cell {
	float: left;
	position: relative;
}

.thumbnail {
	overflow: hidden;
	position: absolute;
	left: 10px;
   	right: 10px;
   	top: 10px;
   	bottom: 10px;
}

.thumbnail img {
   width: 100%;
}




/* Responsive */

/* Smartphone: 1 */
@media only screen and (max-width : 480px) {

   .cell {
      	width: 100%;
      	padding-bottom: 100%;
   }

    .gallery {
   		margin: auto;
		width: 70%;

   	}
}

/* Tablets:; 2 */
@media only screen and (min-width : 481px) and (max-width : 767px) {

   .cell {
	    width: 50%;
	    padding-bottom: 50%;
   }

    .gallery {
   		margin: auto;
		width: 70%;

   	}
}

/* iPads: 3  */
@media only screen and (min-width: 768px) and (max-width: 1024px)  {
   .cell {
      	width: 33.3%;
      	padding-bottom: 33.3%;

    }

    .gallery {
   		margin: auto;
		width: 70%;

   	}
}

/* Desktop - Laptop: 4 */
@media only screen and (min-width : 1025px) and (max-width: 1224px) {
   
   .cell {
      	width: 25%;
      	padding-bottom: 25%;
   }

   .gallery {
   		margin: auto;
		width: 70%;
   }
}

/* Desktop - Laptop: 4 */
@media only screen and (min-width : 1225px) and (max-width : 1823px) {
   
   .cell {
      	width: 25%;
      	padding-bottom: 25%;
   }

   .gallery {
   		margin: auto;
		width: 50%;
   }
}

/* Large screens */
@media only screen and (min-width: 1824px) {

   .cell {
      	width: 25%;
      	padding-bottom: 25%;
   }

   .gallery {
   		margin: auto;
		width: 40%;
   }
}
/* Lightbox */

#lightbox {	
	position: absolute;	
	left: 0; 
	width: 100%; 
	z-index: 100; 
	text-align: center; 
	line-height: 0;
}

#lightbox img { 
	width: auto; 
	height: auto;
}

#lightbox a img { border: none; }

#outerImageContainer { 
	position: relative; 
	background-color: #fff; 
	width: 250px; 
	height: 250px; 
	margin: 0 auto; 
}

#imageContainer { padding: 10px; }

#loading { 
	position: absolute; 
	top: 40%; 
	left: 0%; 
	height: 25%; 
	width: 100%; 
	text-align: center; 
	line-height: 0; 
}

#hoverNav { 
	position: absolute; 
	top: 0; 
	left: 0; 
	height: 100%; 
	width: 100%; 
	z-index: 10; 
}

#imageContainer>#hoverNav { left: 0;}

#hoverNav a { outline: none;}

#prevLink, #nextLink { 
	width: 49%; 
	height: 100%; 
	background-image: url(data:image/gif;base64,AAAA);
	 /* Trick IE into showing hover */ display: block; 
	}

#prevLink { 
	left: 0; 
	float: left;
}

#nextLink { 
	right: 0; 
	float: right;
}
#prevLink:hover, #prevLink:visited:hover { background: url(images/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(images/nextlabel.gif) right 15% no-repeat; }

#imageDataContainer { 
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff; margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
}

#imageData {
	padding:0 10px;
	color: #666; 
}

#imageData #imageDetails { 
	width: 70%; 
	float: left; 
	text-align: left; 
}

#imageData #caption { font-weight: bold; }
#imageData #numberDisplay {
	display: block;
	clear: left;
	padding-bottom: 1.0em;
}

#imageData #bottomNavClose {
	width: 66px;
	float: right;
	padding-bottom: 0.7em;
	outline: none;
}	 	

#overlay { 
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
	background-color: #000;
}

