{% extends "base.html" %}
{% block content %}
<div class="gallery">
	<div class="cell">
		<div class="thumbnail">
			<img src="../static/img/illust/ama_thumb.jpg">
		</div>
	</div>
	<div class="cell">
		<div class="thumbnail">
			<img src="../static/img/illust/danse_thumb.jpg">
		 </div>
	</div>
	<div class="cell">
		<div class="thumbnail">
			<img src="../static/img/illust/frozen_souls_thumb.jpg">
		</div>
	</div>
	<div class="cell">
	   	<div class="thumbnail">
	      	<img src="../static/img/illust/spellstorm_artifacts_thumb.jpg">
	   	</div>
  	</div>

{% endblock %}
