{% extends "base.html" %}
{% block content %}
<div class="gallery">
	<div class="cell">
		<div class="thumbnail">
			<a href="../static/img/illust/ama.jpg" data-lightbox="portfolio" data-title="Spellstorm: Amaterasu" target="_blank"><img src="../static/img/illust/ama_thumb.jpg"></a>
		</div>
	</div>
	<div class="cell">
		<div class="thumbnail">
			<a href="../static/img/illust/danse.jpg" data-lightbox="portfolio" data-title="Danse" target="_blank"><img src="../static/img/illust/danse_thumb.jpg"></a>
		 </div>
	</div>
	<div class="cell">
		<div class="thumbnail">
			<a href="../static/img/illust/frozen_souls.jpg" data-lightbox="portfolio" data-title="Frozen Souls" target="_blank"><img src="../static/img/illust/frozen_souls_thumb.jpg"></a>
		</div>
	</div>
	<div class="cell">
	   	<div class="thumbnail">
	      	<a href="../static/img/illust/spellstorm_artifacts.jpg" data-lightbox="portfolio" data-title="Spellstorm: Artifacts" target="_blank"><img src="../static/img/illust/spellstorm_artifacts_thumb.jpg"></a>
	   	</div>
  	</div>
</div>


{% endblock %}
