{% extends "base.html" %}
{% block content %}
<div class="gallery">
	<div class="cell">
		<div class="thumbnail">
			<img src="../static/img/ui/YanareKu_Scifi_UI_thumb.jpg">
		</div>
	</div>
	<div class="cell">
		<div class="thumbnail">
			<img src="../static/img/ui/YanareKu_Lions_Ui_thumb.jpg">
		 </div>
	</div>
	<div class="cell">
		<div class="thumbnail">
			<img src="../static/img/ui/YanareKu_Ui_thumb.jpg">
		</div>
	</div>
	<div class="cell">
	   	<div class="thumbnail">
	      	<img src="../static/img/ui/YanareKu_casual_ui_thumb.jpg">
	   	</div>
  	</div>

{% endblock %}
