{% extends "base.html" %}
{% block content %}
<div class="gallery">
	<div class="cell">
		<div class="thumbnail">
			<img src="../static/img/vector/sirhal_thumb.jpg">
		</div>
	</div>
	<div class="cell">
		<div class="thumbnail">
			<img src="../static/img/vector/spellstorm_eraxylon_thumb.jpg">
		 </div>
	</div>
	<div class="cell">
		<div class="thumbnail">
			<img src="../static/img/vector/spellstorm_cyclops_thumb.jpg">
		</div>
	</div>
	<div class="cell">
	   	<div class="thumbnail">
	      	<img src="../static/img/vector/whispered_thumb.jpg">
	   	</div>
  	</div>

{% endblock %}
