<!DOCTYPE html>
<html ng-app="gallery">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="The Portfolio of Illustrator Yanare Ku.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Yanare Ku || Illustrator</title>

	<link rel="stylesheet" href="../css/portfolio.css" type="text/css" media="screen">
	<script type="../js/angular.min.js"></script>
</head>

<body>
	<div id="wrapper">
		<div id="header">
			<span class="emphasis">Yanare Ku</span>
			<nav>
				<a href="/">Illustration</a> || 
				<a href="/vector">Vector</a> || 
				<a href="/ui">User Interface</a> || 
				<a href="/about">About</a> || 
				<a href="/contact">Contact</a>
			</nav>
		</div>
		<div id="content">
			<div class="gallery">

				<div class="cell">
					<div class="thumbnail">
						<a href="../img/illust/ama.jpg" data-lightbox="portfolio" data-title="Spellstorm: Amaterasu" target="_blank"><img src="../img/illust/ama_thumb.jpg"></a>
					</div>
				</div>
				<div class="cell">
					<div class="thumbnail">
						<a href="../img/illust/danse.jpg" data-lightbox="portfolio" data-title="Danse" target="_blank"><img src="../img/illust/danse_thumb.jpg"></a>
					 </div>
				</div>
				<div class="cell">
					<div class="thumbnail">
						<a href="../img/illust/frozen_souls.jpg" data-lightbox="portfolio" data-title="Frozen Souls" target="_blank"><img src="../img/illust/frozen_souls_thumb.jpg"></a>
					</div>
				</div>
				<div class="cell">
				   	<div class="thumbnail">
				      	<a href="../img/illust/spellstorm_artifacts.jpg" data-lightbox="portfolio" data-title="Spellstorm: Artifacts" target="_blank"><img src="../img/illust/spellstorm_artifacts_thumb.jpg"></a>
				   	</div>
			  	</div>
			  	
			</div>
		</div>
		<div id="footer"><p> &copy; 2005-2015 Yanare "Lurial" Ku </p></div>
	</div>

	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="../js/lightbox.min.js"></script>

	<!-- Modules -->
	<script type="..js/app.js"></script>

	<!-- Controller -->

	<script type="../js/gallery/gallery_controller.js"></script>

	<!-- Directives -->

	<script type="../js/gallery/gallery_directive.js"></script>

</body>
</html>